# Ignore VIM swap files
*.swp
# lazygit stores a state file in config, I dont want to track it
.config/lazygit/state.yml
# lazy-lock stores a state file in config, I dont want to track it
.config/nvim/lazy-lock.json
# Skip tmux plugins
.config/tmux/plugins
# Skip btop log file
.config/btop/btop.log
# Skip kitty config backups
.config/kitty/kitty.conf.bak
