# Ignore VIM swap files
*.swp
# Add a negative ignore here so telescope can find these files
!.*
# But I dont want to check .git into git
.git


# lazygit stores a state file in config, I dont want to track it
.config/lazygit/state.yml
# lazy-lock stores a state file in config, I dont want to track it
.config/nvim/lazy-lock.json
# Skip tmux plugins
.config/tmux/plugins
# Skip btop log file
.config/btop/btop.log
# Skip kitty config backups
.config/kitty/kitty.conf.bak
# Skip local hammerspoon config
.hammerspoon/local-config.lua
# Skip aichat model override for now, maybe we want it??
.config/aichat/models-override.yaml
# Skip aichat env
.config/aichat/.env
