configuration {
    show-icons: true;
    modi: "drun,run";
    font: "MesloLGS NF 10";
    drun-display-format: "{icon} {name}";

    display-run:    "󱓞 run:";
    display-drun:   "󰣖 Apps:";
    display-combi:  "󰕘 combi:";
    // display-window: "󱂬 window:";
    // display-ssh:    "󰣀 ssh:";
    // display-filebrowser: "󰉋 filebrowser:";
}

@theme "~/.config/rofi/catppuccin-lavrent-mocha.rasi"
